{% extends "template.html" %}
{% block content %}
			<form method='POST'>
				<div class="mb-3">
					<label for="mark"  class="form-label">マーカーの番号を選択</label>
					<select class="form-select" aria-label="Number of markers" name="mark">
						<option value="0" selected >取り出したいマーカーの番号を選択</option>
						{% for data in datas %}
						<option value="{{data.mark}}">{{data.mark}}</option>
						{% endfor %}
					</select>
					<button type="submit" class="btn btn-primary">確定</button>
				</div>
			</form>
{% endblock %}