{% extends "template.html" %}
{% block content %}
    <h1 class="h2">Dashboard</h1>
    <div class="d-flex justify-content-around">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">取り出す</h5>
            <p class="card-text">arucoを用いたマーカーと顔の情報を連結し、登録します</p>
            <a href="#" class="btn btn-primary btn-lg">GO</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">入れる</h5>
              <p class="card-text">arucoを用いたマーカーと顔の情報を照合します</p>
              <a href="#" class="btn btn-primary btn-lg">GO</a>
            </div>
          </div>
      </div>
      <div class="d-flex justify-content-around">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">顔登録/削除</h5>
            <p class="card-text">顔の情報を照合し、データベースに登録します</p>
            <a href="#" class="btn btn-primary btn-lg">GO</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">マーカー</h5>
              <p class="card-text">連番のマーカーを発行します</p>
              <a href="#" class="btn btn-primary btn-lg">GO</a>
            </div>
          </div>
      </div>
{% endblock %}